<footer class="page-footer container">
  <div class="container">
    <div class="footer-menu-and-contacts">
      <div class="logo-text-container">
        <a href="./index.html" class="footer-logo">
          <svg class="icon">
            <use href="./public/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="nav-and-contacts">
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a href="#how-it-works" class="link">how it works</a>
          </li>
          <li class="footer-menu-item">
            <a href="#vegetables" class="link">vegetables</a>
          </li>
          <li class="footer-menu-item">
            <a href="#reviews" class="link">reviews</a>
          </li>
        </ul>

        <address class="footer-contacts">
          <ul class="contacts-list">
            <li class="contact-item">
              <a href="tel:+380684439426" class="link">+380 (68) 443-94-26</a>
            </li>
            <li class="contact-item">
              <a
                href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332053,-111.9617062,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoJLDEwMjExMjMzSAFQAw%3D%3D"
                class="link"
                target="_blank"
              >
                1678 S. Pioneer Road Salt Lake City UT 84104
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="privacy-policy">
      <div class="priv-links">
        <a href="#" class="link">Privacy Policy</a><span>/</span
        ><a href="#" class="link">Cookie settings</a>
      </div>
      <p class="ghyear">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
