<header class="header-page container">
  <div class="container header-container">
    <a class="header-logo" href="#">
      <svg class="header-icon" width="168" height="16">
        <use href="./public/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#reviews">Reviews</a>
        </li>
      </ul>
      <button class="header-button" type="button">
        <a class="link" href="#order">Shop now</a>
      </button>
    </nav>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="./public/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
