<div class="modal" data-menu>
  <button class="menu-close" type="button" data-menu-close>
    <svg class="menu-icon" width="20" height="20">
      <use href="../public/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="menu-list">
    <li class="menu-item">
      <a class="menu-link" href="#how-it-works">How It Works</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#vegetables">Vegetables</a>
    </li>
    <li class="menu-item"><a class="menu-link" href="#reviews">Reviews</a></li>
  </ul>
  <button class="menu-bt">Shop now</button>
</div>
