<section class="section-vegetables background" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic<span class="vegetables-title-diff">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">eggplant</h3>
          <p class="vegetables-text">60 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/eggplant_d.png    1x,
                ./img/vegetables/eggplant_d@2x.png 2x
              "
            />
            <source
              media="(min-width: 767px)"
              srcset="
                ./img/vegetables/eggplant_t.png    1x,
                ./img/vegetables/eggplant_t@2x.png 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./img/vegetables/eggplant_m.png    1x,
                ./img/vegetables/eggplant_m@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/eggplant_m.png"
              alt="picture of eggplants"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">leek</h3>
          <p class="vegetables-text">50 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/leek_d.png    1x,
                ./img/vegetables/leek_d@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/leek_t.png    1x,
                ./img/vegetables/leek_t@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/leek_m.png    1x,
                ./img/vegetables/leek_m@2x.png 2x
              "
            />
            <img src="./img/vegetables/leek_m.png" alt="picture of leeks" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">mushrooms</h3>
          <p class="vegetables-text">40 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/mushrooms_d.png    1x,
                ./img/vegetables/mushrooms_d@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/mushrooms_t.png    1x,
                ./img/vegetables/mushrooms_t@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/mushrooms_m.png    1x,
                ./img/vegetables/mushrooms_m@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/mushrooms_m.png"
              alt="picture of mushrooms"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">corn</h3>
          <p class="vegetables-text">60 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/corn_d.png    1x,
                ./img/vegetables/corn_d@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/corn_t.png    1x,
                ./img/vegetables/corn_t@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/corn_m.png    1x,
                ./img/vegetables/corn_m@2x.png 2x
              "
            />
            <img src="./img/vegetables/corn_m.png" alt="picture of corns" />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">sweet potatoes</h3>
          <p class="vegetables-text">50 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/sweet_potatoes_d.png    1x,
                ./img/vegetables/sweet_potatoes_d@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/sweet_potatoes_t.png    1x,
                ./img/vegetables/sweet_potatoes_t@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/sweet_potatoes_m.png    1x,
                ./img/vegetables/sweet_potatoes_m@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/sweet_potatoes_m.png"
              alt="picture of sweet potatoes"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">carrot</h3>
          <p class="vegetables-text">40 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/carrot_d.png    1x,
                ./img/vegetables/carrot_d@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/carrot_t.png    1x,
                ./img/vegetables/carrot_t@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/carrot_m.png    1x,
                ./img/vegetables/carrot_m@2x.png 2x
              "
            />
            <img src="./img/vegetables/carrot_m.png" alt="picture of carrots" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
