<section class="section-vegetables" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic<span class="vegetables-title-diff">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">eggplant</h3>
          <p class="vegetables-text">60 USD / kg</p>
          <img
            src="img/vegetables/eggplant.png"
            alt="picture of eggplants"
            srcset="
              img/vegetables/eggplant.png    1x,
              img/vegetables/eggplant@2x.png 2x
            "
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">leek</h3>
          <p class="vegetables-text">50 USD / kg</p>
          <img
            src="img/vegetables/leek.png"
            alt="picture of leeks"
            srcset="img/vegetables/leek.png 1x, img/vegetables/leek@2x.png 2x"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">mushrooms</h3>
          <p class="vegetables-text">40 USD / kg</p>
          <img
            src="img/vegetables/mushrooms.png"
            alt="picture of mushrooms"
            srcset="
              img/vegetables/mushrooms.png    1x,
              img/vegetables/mushrooms@2x.png 2x
            "
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">corn</h3>
          <p class="vegetables-text">60 USD / kg</p>
          <img
            src="img/vegetables/corn.png"
            alt="picture of corns"
            srcset="img/vegetables/corn.png 1x, img/vegetables/corn@2x.png 2x"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">sweet potatoes</h3>
          <p class="vegetables-text">50 USD / kg</p>
          <img
            src="img/vegetables/sweet_potatoes.png"
            alt="picture of sweet potatoes"
            srcset="
              img/vegetables/sweet_potatoes.png    1x,
              img/vegetables/sweet_potatoes@2x.png 2x
            "
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="content-wrapper">
          <h3 class="vegetables-subtitle">carrot</h3>
          <p class="vegetables-text">40 USD / kg</p>
          <img
            src="img/vegetables/carrot.png"
            alt="picture of carrots"
            srcset="
              img/vegetables/carrot.png    1x,
              img/vegetables/carrot@2x.png 2x
            "
          />
        </div>
      </li>
    </ul>
  </div>
</section>
