@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(20, 20, 20, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #576f35;
  padding: 296px 20px 52px 20px;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
  transform: translateX(100%);
  transition: 300ms ease-in;
  transition-property: transform;
}

.modal.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Tablet sreen */
@media only screen and (min-width: 768px) {
  .modal {
    right: 0;
    margin-left: auto;

    width: 351px;
    height: 100%;

    padding: 360px 32px 48px 32px;
  }
}

@media only screen and (min-width: 768px) {
  .modal.is-open {
    transform: translateX(0);
  }
}

/* Desktop sreen */
@media only screen and (min-width: 1280px) {
  .modal {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;

  background-color: transparent;
  cursor: pointer;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Tablet sreen */
@media only screen and (min-width: 768px) {
  .menu-close {
    position: absolute;
    top: 32px;
    right: 32px;

    background-color: transparent;
    cursor: pointer;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

/* Desktop sreen */
@media only screen and (min-width: 1280px) {
  .menu-close {
    display: none;
  }
}

.menu-icon {
  stroke: #fbfbfb;
  width: 32px;
  height: 32px;
}

/* Tablet sreen */
@media only screen and (min-width: 768px) {
  .menu-icon {
    width: 40px;
    height: 40px;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
}

.menu-item {
  height: 44px;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: transparent;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px 14px;
}

.menu-link:active {
  color: #7a3145;
  background-color: #fbfbfb;
}

@media (hover: hover) {
  .menu-link:hover,
  .menu-link:focus {
    color: #7a3145;
    background-color: #fbfbfb;
  }
}

@media not (hover: hover) {
  .menu-link:active {
    color: #7a3145;
    background-color: #fbfbfb;
  }
}

.menu-bt {
  height: 52px;
  width: 175px;

  border: none;
  border-radius: 30px;
  padding: 16px 38px;
  background-color: #7a3145;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  margin: auto auto 0;
}

@media (hover: hover) {
  .menu-bn:hover,
  .menu-bt:focus {
    background-color: #fbfbfb;
    color: #7a3145;
    border: 1px solid #fbfbfb;
  }
}

@media not (hover: hover) {
  .menu-bn:active {
    background-color: #fbfbfb;
    color: #7a3145;
    border: 1px solid #fbfbfb;
  }
}

/* Tablet sreen */
@media only screen and (min-width: 768px) {
  .menu-bt {
    height: 52px;
    width: 157px;

    padding: 16px 30px;
  }
}

/* Desktop sreen */
@media only screen and (min-width: 1280px) {
  .menu-bt {
    display: none;
  }
}
